[include]
    path = .user-gitconfig
[alias]
	a = add
    al = add --all
	c = commit -S
	acn = commit -S --amend --no-message
	s = status
	ol = log --oneline
	olg = log --oneline --graph
	ch = checkout
    # Difftastic aliases, so `git dlog` is `git log` with difftastic and so on.
    dlog = -c diff.external=difft log --ext-diff
    dshow = -c diff.external=difft show --ext-diff
    ddiff = -c diff.external=difft diff
	st = status
[core]
	editor = nvim
	fsmonitor = true
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
	tool = nvimdiff
[rerere]
	enabled = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[init]
	defaultBranch = main
[commit]
	verbose = true
[help]
	autocorrect = prompt
[push]
	autoSetupRemote = true
[difftool]
	prompt = false
