[include]
    path = ./.user.gitconfig
[alias]
	a = add
    al = add --all
	c = commit -S
	acn = commit -S --amend --no-message
	s = status
	ol = log --oneline
	olg = log --oneline --graph
[core]
	editor = nvim
	fsmonitor = true
	pager = diff-so-fancy | less --tabs=4 -RF
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[rerere]
	enabled = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[init]
	defaultBranch = main
[commit]
	verbose = true
[help]
	autocorrect = prompt
[push]
	autoSetupRemote = true
[interactive]
	diffFilter = diff-so-fancy --patch
