window {
    margin: 0px;
    border: 5px solid #212121;
    background-color: #f0f0f0;
    border-radius: 15px;
}

#input {
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    border: none;
    color: #f0f0f0;
    font-weight: bold;
    background-color: #212121;
    background: ;
   	outline: none;
    border-radius: 15px;
    margin: 10px;
    margin-bottom: 2px;
}
#input:focus {
    border: 0px solid #212121;
    margin-bottom: 0px;
}

#inner-box {
    margin: 4px;
    border: 10px solid #212121;
    color: #f0f0f0;
    font-weight: bold;
    background-color: #212121;
    border-radius: 15px;
}

#outer-box {
    margin: 0px;
    border: 1px solid #f0f0f0;
    border-radius: 15px;
    background-color: #212121;
}

#scroll {
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    margin-bottom: 5px;
    /* background: rgb(255,255,255); */
}

#img:selected {
    background-color: #1A5FB4;
    border-radius: 15px;
}

#text:selected {
    color: #f0f0f0;
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color: #1A5FB4;
    margin-left: 5px;
}
#text {
    margin-left: 5px;
}

#entry {
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
}

#entry:selected {
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color: #1A5FB4;
}
